<div class="widget">
    

<div class="row" ng-show="showLista">
    <div class="col-sm-12" ba-panel ba-panel-title="Clientes Cadastrados">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div ng-if="showLista" ui-grid="gridClientes"  ui-grid-auto-resize ui-grid-selection style="width: 100%;height: 300px"></div>

            </div>
            <div class="col-sm-12 col-md-6">
                <div ng-if="showLista" ui-grid="gridAtendimento"  ui-grid-auto-resize ui-grid-selection style="width: 100%;height: 300px"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <button class="btn btn-primary" ng-click="enableCadastro()">Cadastrar Novo Atendimento</button>
            </div>
        </div>
    </div>
</div>


<div ng-show="showCadastro" class="row" ng-show="showLista">
    <div class="col-sm-12" ba-panel ba-panel-title="Cadastrar Atendimento">
        <form ng-show="showCadastro" class="form ng-pristine ng-valid" name="atendimentoForm" novalidate>
        
            <h3 class="with-line">Atendimento</h3>
            <div class="row">

                <div class="col-sm-12 col-md-4">
                    <div class="form-group" ng-class="{ 'has-error': (atendimentoForm.profissional.$touched || atendimentoForm.$submitted) && atendimentoForm.profissional.$invalid }">
                        <label for="inputProfissional" >Profissional*</label>
                        <select class="form-control" id="inputProfissional" name="profissional" ng-model="atendimento.profissional" required>
                            <option value="" disabled>Selecione</option>
                            <option value="Suely Lima - Fisioterapeuta">Suely Lima - Fisioterapeuta</option>
                        </select>
                        <div class="help-block" ng-messages="atendimentoForm.profissional.$error" ng-if="atendimentoForm.profissional.$touched || atendimentoForm.$submitted">
                            <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                        </div>
                    </div>         
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="form-group" ng-class="{ 'has-error': (atendimentoForm.dataAtend.$touched || atendimentoForm.$submitted) && atendimentoForm.dataAtend.$invalid }">
                        <label for="inputDataAtend" >Data do Atendimento*</label>
                        <input type="date" class="form-control" class="form-control" id="inputDataAtend" name="dataAtend" ng-model="atendimento.dataAtend" required/>
                        <div class="help-block" ng-messages="atendimentoForm.dataAtend.$error" ng-if="atendimentoForm.dataAtend.$touched || atendimentoForm.$submitted">
                            <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                        </div>
                    </div>         
                </div>

                <div class="col-sm-12 col-md-12">
                    <div class="form-group" ng-class="{ 'has-error': (atendimentoForm.finalidade.$touched || atendimentoForm.$submitted) && atendimentoForm.finalidade.$invalid }">
                        <label for="inputFinalidade" >Finalidade*</label>
                        <textarea class="form-control" placeholder="Finalidade do atendimento" id="inputFinaldade" name="finalidade" ng-model="atendimento.finalidade" required></textarea> 
                    </div>
                    <div class="help-block" ng-messages="atendimentoForm.finalidade.$error" ng-if="atendimentoForm.finalidade.$touched || atendimentoForm.$submitted">
                            <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12">
                    <div class="form-group" ng-class="{ 'has-error': (atendimentoForm.inspecao.$touched || atendimentoForm.$submitted) && atendimentoForm.inspecao.$invalid }">
                        <label for="inputInspecao" >Inspeção*</label>
                        <textarea class="form-control" placeholder="Inspeção" id="inputInspecao" name="inspecao" ng-model="atendimento.inspecao" required></textarea> 
                    </div>
                    <div class="help-block" ng-messages="atendimentoForm.inspecao.$error" ng-if="atendimentoForm.inspecao.$touched || atendimentoForm.$submitted">
                        <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                    </div>    
                </div>

                <div class="col-sm-12 col-md-12">
                    <div class="form-group" ng-class="{ 'has-error': (atendimentoForm.palpacao.$touched || atendimentoForm.$submitted) && atendimentoForm.palpacao.$invalid }">
                        <label for="inputPalpacao" >Palpação*</label>
                        <textarea class="form-control" placeholder="Palpação" id="inputPalpacao" name="palpacao" ng-model="atendimento.palpacao" required></textarea> 
                    </div>
                    <div class="help-block" ng-messages="atendimentoForm.palpacao.$error" ng-if="atendimentoForm.palpacao.$touched || atendimentoForm.$submitted">
                        <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                    </div>     
                </div>

                

            </div>
    

        
            <h3 class="with-line">Medições e Sinais Vitais</h3>
            <div class="row">

                <div class="col-sm-12 col-md-3">
                    <div class="form-group" ng-class="{ 'has-error': (atendimentoForm.peso.$touched || atendimentoForm.$submitted) && atendimentoForm.peso.$invalid }">
                        <label for="inputPeso" >Peso*</label>
                        <div class="input-group">
                            <input type="number" class="form-control" placeholder="Ex. 60,5" aria-describedby="basic-addon2" id="inputPeso" name="peso" ng-model="atendimento.peso" required>
                            <span class="input-group-addon" id="basic-addon2">kg</span>
                        </div>
                        <div class="help-block" ng-messages="atendimentoForm.peso.$error" ng-if="atendimentoForm.peso.$touched || atendimentoForm.$submitted">
                            <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                        </div>
                    </div>    
                </div>

                <div class="col-sm-12 col-md-3">
                    <div class="form-group" ng-class="{ 'has-error': (atendimentoForm.tCorporal.$touched || atendimentoForm.$submitted) && atendimentoForm.tCorporal.$invalid }">
                        <label for="inputTCorporal" >Temp. Corporal*</label>
                        <div class="input-group">
                            <input type="number" class="form-control" min="20" max="50" placeholder="Ex. 36,6" aria-describedby="basic-addon2" id="inputTCorporal" name="tCorporal" ng-model="atendimento.sinVitais.tCelsius" required>
                            <span class="input-group-addon" id="basic-addon2">°C</span>
                        </div>
                        <div class="help-block" ng-messages="atendimentoForm.tCorporal.$error" ng-if="atendimentoForm.tCorporal.$touched || atendimentoForm.$submitted">
                            <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                        </div>
                    </div>    
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <div class="form-group" ng-class="{ 'has-error': (atendimentoForm.sistolica.$touched || atendimentoForm.$submitted) && atendimentoForm.sistolica.$invalid }">
                        <label for="inputPA1" >PA Sistólica*</label>
                        <div class="input-group"> 
                            <input type="number"  min="0" max="300" placeholder="Ex.120" class="form-control"  aria-describedby="basic-addon2" id="inputPA1" name="sistolica" ng-model="atendimento.sinVitais.pa.sis" required> 
                            <span class="input-group-addon" id="basic-addon2">mmHG</span>   
                        </div>
                        <div class="help-block" ng-messages="atendimentoForm.sistolica.$error" ng-if="atendimentoForm.sistolica.$touched || atendimentoForm.$submitted">
                        <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                    </div> 
                    </div>     
                </div>

                <div class="col-sm-12 col-md-3">
                    <div class="form-group" ng-class="{ 'has-error': (atendimentoForm.diastolica.$touched || atendimentoForm.$submitted) && atendimentoForm.diastolica.$invalid }">
                        <label for="inputPA2" >PA Diastólica*</label>
                        <div class="input-group">
                            <input type="number" min="0" max="300" placeholder="Ex. 90" class="form-control" aria-describedby="basic-addon2" id="inputPA2" name="diastolica" ng-model="atendimento.sinVitais.pa.dia" required>
                            <span class="input-group-addon" id="basic-addon2">mmHG</span>
                        </div>
                        <div class="help-block" ng-messages="atendimentoForm.diastolica.$error" ng-if="atendimentoForm.diastolica.$touched || atendimentoForm.$submitted">
                            <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                        </div> 
                    </div>   
                </div>

                <div class="col-sm-12 col-md-2">
                    <div class="form-group" ng-class="{ 'has-error': (atendimentoForm.spO2.$touched || atendimentoForm.$submitted) && atendimentoForm.spO2.$invalid }">
                        <label for="inputSpO2" >Saturação O²*</label>
                        <div class="input-group"> 
                            <input type="number" class="form-control" min="0" max="100" placeholder="Ex. 98 " aria-describedby="basic-addon2" id="inputSpO2" name="spO2" ng-model="atendimento.sinVitais.spO2" required>
                            <span class="input-group-addon" id="basic-addon2">%</span>
                        </div>
                        <div class="help-block" ng-messages="atendimentoForm.spO2.$error" ng-if="atendimentoForm.spO2.$touched || atendimentoForm.$submitted">
                            <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                        </div> 
                    </div> 
                </div>

                <div class="col-sm-12 col-md-2">
                    <div class="form-group" ng-class="{ 'has-error': (atendimentoForm.fcardiaca.$touched || atendimentoForm.$submitted) && atendimentoForm.fcardiaca.$invalid }">
                        <label for="inputFc" >Freq. Cardíaca*</label>
                        <div class="input-group">
                            <input type="number" class="form-control" min="0" max="300" placeholder="Ex. 80" aria-describedby="basic-addon2" id="inputFc" name="fcardiaca" ng-model="atendimento.sinVitais.fc" required>
                            <span class="input-group-addon" id="basic-addon2">bpm</span>
                        </div>
                        <div class="help-block" ng-messages="atendimentoForm.fcardiaca.$error" ng-if="atendimentoForm.fcardiaca.$touched || atendimentoForm.$submitted">
                            <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                        </div> 
                    </div>    
                </div>

                <div class="col-sm-12 col-md-2">
                    <div class="form-group" ng-class="{ 'has-error': (atendimentoForm.frespiratoria.$touched || atendimentoForm.$submitted) && atendimentoForm.frespiratoria.$invalid }">
                        <label for="inputFr" >Freq. Respiratória*</label>
                        <div class="input-group">
                            <input type="number" class="form-control" min="0" max="70" placeholder="Ex. 15" aria-describedby="basic-addon2" id="inputFr" name="frespiratoria" ng-model="atendimento.sinVitais.fr" required>
                            <span class="input-group-addon" id="basic-addon2">rpm</span>
                        </div>
                        <div class="help-block" ng-messages="atendimentoForm.frespiratoria.$error" ng-if="atendimentoForm.frespiratoria.$touched || atendimentoForm.$submitted">
                            <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                        </div> 
                    </div>    
                </div>

                
                <div class="col-sm-12 col-md-12">
                    <div class="form-group" ng-class="{ 'has-error': (atendimentoForm.aupulmonar.$touched || atendimentoForm.$submitted) && atendimentoForm.aupulmonar.$invalid }">
                        <label for="inputAuPulmonar" >Ausculta pulmonar*</label>
                        <textarea class="form-control" placeholder="Ausculta pulmonar" id="inputAuPulmonar" name="aupulmonar" ng-model="atendimento.sinVitais.au" required></textarea>
                    </div>
                    <div class="help-block" ng-messages="atendimentoForm.aupulmonar.$error" ng-if="atendimentoForm.aupulmonar.$touched || atendimentoForm.$submitted">
                        <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                    </div> 
                </div>
            </div>  
        


    
            <h3 class="with-line">Amplitude de Movimento</h3>
            <div class="row">

                <div class="col-sm-12 col-md-3">
                    <div class="form-group" ng-class="{ 'has-error': (atendimentoForm.membro.$touched || atendimentoForm.$submitted) && atendimentoForm.membro.$invalid }">
                        <label for="inputMembro" >Articulações*</label>
                        <select class="form-control" id="inputMembro" name="membro" ng-model="atendimento.medicao.membro" required>
                            <option value="" disabled selected>Selecione</option>
                              <optgroup label="Membros Superiores">
                                <option value="Ombro Esq.">Ombro Esq.</option>
                                <option value="Cotovelo Esq.">Ombro Dir.</option>
                                <option value="Cotovelo Esq.">Cotovelo Esq.</option>
                                <option value="Cotovelo Dir.">Cotovelo Dir.</option>
                                <option value="Radiulnar Esq.">Radiulnar Esq.</option>
                                <option value="Radiulnar Dir.">Radiulnar Dir.</option>
                                <option value="Carpometacarpal Polegar Esq.">Carpometacarpal Polegar Esq.</option>
                                <option value="Carpometacarpal Polegar Dir.">Carpometacarpal Polegar Dir.</option>
                                <option value="Metacarpofalângicas Esq.">Metacarpofalângicas Esq.</option>
                                <option value="Metacarpofalângicas Dir.">Metacarpofalângicas Dir.</option>
                                <option value="Interfalângicas Esq.">Interfalângicas Esq.</option>
                                <option value="Interfalângicas Dir.">Interfalângicas Dir.</option>
                              </optgroup>
                              <optgroup label="Membros Inferiores">
                                <option value="Quadril Esq.">Quadril Esq.</option>
                                <option value="Quadril Dir.">Quadril Dir.</option>
                                <option value="Joelho Esq.">Joelho Esq.</option>
                                <option value="Joelho Dir.">Joelho Dir.</option>
                                <option value="Tornozelo Esq.">Tornozelo Esq.</option>
                                <option value="Tornozelo Dir.">Tornozelo Dir.</option>
                                <option value="Metatarsofalângicas Esq.">Metatarsofalângicas Esq.</option>
                                <option value="Metatarsofalângicas Dir.">Metatarsofalângicas Dir.</option>
                                <option value="Interfalângicas Esq.">Interfalângicas Esq.</option>
                                <option value="Interfalângicas Dir.">Interfalângicas Dir.</option>
                              </optgroup>
                        </select>
                        <div class="help-block" ng-messages="atendimentoForm.membro.$error" ng-if="atendimentoForm.membro.$touched || atendimentoForm.$submitted">
                            <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                        </div>
                    </div>         
                </div>

                 <div class="col-sm-12 col-md-3">
                    <div class="form-group" ng-class="{ 'has-error': (atendimentoForm.movimento.$touched || atendimentoForm.$submitted) && atendimentoForm.movimento.$invalid }">
                        <label for="inputMovimento" >Movimento*</label>
                        <select class="form-control" id="inputMovimento" name="movimento" ng-model="atendimento.medicao.movimento" required>
                            <option value="" disabled selected>Selecione</option>
                            <option value="Flexão">Flexão</option>
                            <option value="Extensão">Extensão</option>
                            <option value="Adução">Adução</option>
                            <option value="Abdução">Abdução</option>
                            <option value="Rotação Medial">Rotação Medial</option>
                            <option value="Rotação Lateral">Rotação Lateral</option>
                            <option value="Pronação">Pronação</option>
                            <option value="Supinação">Supinação</option>
                            <option value="Flexão Dorsal">Flexão Dorsal</option>
                            <option value="Flexão Plantar">Flexão Plantar</option>
                        </select>
                        <div class="help-block" ng-messages="atendimentoForm.movimento.$error" ng-if="atendimentoForm.movimento.$touched || atendimentoForm.$submitted">
                            <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                        </div>
                    </div>         
                </div>

                <div class="col-sm-12 col-md-4">
                    <div class="form-group" ng-class="{ 'has-error': (atendimentoForm.forca.$touched || atendimentoForm.$submitted) && atendimentoForm.forca.$invalid }">
                        <label for="inputForca" >Força*</label>
                        <select class="form-control" id="inputForca" name="forca" ng-model="atendimento.medicao.forca" required>
                            <option value="" disabled selected>Selecione</option>
                              <option value="0">0 - Não tem contração muscular</option>
                              <option value="1">1 - Não vence a gravidade mas tem contração muscular</option>
                              <option value="2">2 - Vence a gravidade mas não mantém por 5s</option>
                              <option value="3">3 - Vence a gravidade mas não a resistência</option>
                              <option value="4">4 - Não mantém por 5s</option>
                              <option value="5">5 - Mantém a contração muscular com resistência por 5s</option>
                        </select>
                        <div class="help-block" ng-messages="atendimentoForm.forca.$error" ng-if="atendimentoForm.forca.$touched || atendimentoForm.$submitted">
                            <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                        </div>
                    </div>         
                </div>

                

                <div class="col-sm-12 col-md-2">
                    <div class="form-group" ng-class="{ 'has-error': (atendimentoForm.adm.$touched || atendimentoForm.$submitted) && atendimentoForm.adm.$invalid }">
                        <label for="inputAdm" >Graus ADM*</label>
                        <div class="input-group">
                            <input type="number" class="form-control" min="0" max="180" placeholder="Ex. 45" aria-describedby="basic-addon2" id="inputAdm" name="adm" ng-model="atendimento.medicao.adm" required>
                                <span class="input-group-addon" id="basic-addon2">° Gon.</span>
                        </div>
                        <div class="help-block" ng-messages="atendimentoForm.adm.$error" ng-if="atendimentoForm.adm.$touched || atendimentoForm.$submitted">
                            <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                        </div>
                    </div>    
                </div>

                <div class="col-sm-12 col-md-12">
                    <div class="form-group" ng-class="{ 'has-error': (atendimentoForm.evolucao.$touched || atendimentoForm.$submitted) && atendimentoForm.evolucao.$invalid }">
                        <label for="inputEvolucao" >Evolução*</label>
                        <textarea class="form-control" placeholder="Evolução" id="inputEvolucao" name="evolucao" ng-model="atendimento.evolucao" required></textarea>
                    </div>
                    <div class="help-block" ng-messages="atendimentoForm.evolucao.$error" ng-if="atendimentoForm.evolucao.$touched || atendimentoForm.$submitted">
                        <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                    </div> 
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-primary" ng-click="save(atendimentoForm)">Cadastrar</button>
                        <button class="btn btn-danger" ng-click="cancel()">Cancelar</button>
                    </div>
                </div>

            </div>  


        </form>
        </div>
    </div>
</div>