<main class="auth-main">
    <div class="auth-block">
        <h1 i18n="signin.welcome"></h1>
        <!--<a ui-sref="register" class="auth-link" i18n="signin.signup"></a>-->
        <form class="form-horizontal ng-pristine ng-valid" name="signinForm" novalidate>
            <div class="form-group" ng-class="{ 'has-error': (signinForm.username.$touched || signinForm.$submitted) && signinForm.username.$invalid }">
                <label for="inputLogin3" class="col-sm-2 control-label" i18n="signin.loginLabel" ></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputLogin3" name="username" data-i18n-attr="{placeholder: 'signin.loginLabel'}" ng-model="user.username" required>
                </div>
                <div class="help-block" ng-messages="signinForm.username.$error" ng-if="signinForm.username.$touched || signinForm.$submitted">
                    <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': (signinForm.password.$touched || signinForm.$submitted) && signinForm.password.$invalid }">
                <label for="inputPassword3" class="col-sm-2 control-label" i18n="signin.passwordLabel"></label>

                <div class="col-sm-10">
                    <input type="password" class="form-control" name="password" id="inputPassword3" data-i18n-attr="{placeholder: 'signin.passwordLabel'}"
                           ng-model="user.password" required>
                </div>
                <div class="help-block" ng-messages="signinForm.password.$error" ng-if="signinForm.password.$touched || signinForm.$submitted">
                    <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default btn-auth" ng-click="signin(signinForm)" i18n="signin.signinButtonText"></button>
                    <a ui-sref="request" class="forgot-pass" i18n="signin.forgotPass"></a>
                </div>
            </div>
        </form>

        <!--<div class="auth-sep"><span><span i18n="signin.social"></span></span></div>

        <div class="al-share-auth">
            <ul class="al-share clearfix">
                <li><i class="socicon socicon-facebook" title="Share on Facebook"></i></li>
                <li><i class="socicon socicon-linkedin" title="Share on Linkedin"></i></li>
            </ul>
        </div>-->
    </div>
</main>