<div class="widgets">
    
    <div class="row" ng-show="showLista">
        <div class="col-sm-12" ba-panel ba-panel-title="Clientes Cadastrados">
            <div class="row">
                <div class="col-sm-12">
                    <div ng-if="showLista" ui-grid="gridClientes"  ui-grid-auto-resize ui-grid-selection style="width: 100%;height: 300px"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-primary" ng-click="enableCadastro()">Cadastrar Novo</button>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="showCadastro" class="row" ng-show="showLista">
        <div class="col-sm-12" ba-panel ba-panel-title="Cadastrar Cliente">
            <form  class="form ng-pristine ng-valid" name="clienteForm" novalidate>
                <h3 class="with-line">Dados Cadastrais</h3>
                
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group" ng-class="{ 'has-error': (clienteForm.name.$touched || clienteForm.$submitted) && clienteForm.name.$invalid }">
                            <label for="inputName1" >Nome*</label>
                            <input type="text" class="form-control" id="inputName1" name="name" placeholder="Nome" ng-model="usuario.name" required ng-maxlength="100"/>
                        </div>
                        <div class="help-block" ng-messages="clienteForm.name.$error" ng-if="clienteForm.name.$touched || clienteForm.$submitted">
                            <p ng-message="maxlength">O campo deve possuir menos de 100 caracteres.</p>
                            <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group" ng-class="{ 'has-error': (clienteForm.lastName.$touched || clienteForm.$submitted) && clienteForm.lastName.$invalid }">
                            <label for="inputName2" >Sobrenome*</label>
                            <input type="text" class="form-control" id="inputName2" name="lastName" placeholder="Sobrenome" ng-model="usuario.lastName" required ng-maxlength="100"/>
                        </div>
                        <div class="help-block" ng-messages="clienteForm.lastName.$error" ng-if="clienteForm.lastName.$touched || clienteForm.$submitted">
                            <p ng-message="maxlength">O campo deve possuir menos de 100 caracteres.</p>
                            <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-3">
                        <div class="form-group" ng-class="{ 'has-error': (clienteForm.phone.$touched || clienteForm.$submitted) && clienteForm.phone.$invalid }">
                            <label for="inputPhone"  >Telefone*</label>
                            <input ng-if="showCadastro" type="text" class="form-control" id="inputPhone" name="phone" placeholder="Telefone" ng-model="usuario.phones" mask="(99) 9?9999-9999" required/>
                        </div>
                        <div class="help-block" ng-messages="clienteForm.phone.$error" ng-if="clienteForm.phone.$touched || clienteForm.$submitted">
                            <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="form-group" ng-class="{ 'has-error': (clienteForm.email.$touched || clienteForm.$submitted) && clienteForm.email.$invalid }">
                            <label for="inputEmail" >Email*</label>
                            <input type="email" class="form-control" id="inputEmail" name="email" placeholder="exemplo@exemplo.com.br" ng-model="usuario.emails" required/>
                        </div>
                        <div class="help-block" ng-messages="clienteForm.email.$error" ng-if="clienteForm.email.$touched || clienteForm.$submitted">
                            <p ng-message="email">Email inv&#225;lido.</p>
                            <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="form-group" ng-class="{ 'has-error': (clienteForm.profissao.$touched || clienteForm.$submitted) && clienteForm.profissao.$invalid }">
                            <label for="inputProfession" >Profissão*</label>
                            <input type="text" class="form-control" id="inputProfession" name="profissao" placeholder="Profissão" ng-model="usuario.profession" required ng-maxlength="50"/>
                        </div>
                        <div class="help-block" ng-messages="clienteForm.profissao.$error" ng-if="clienteForm.profissao.$touched || clienteForm.$submitted">
                            <p ng-message="maxlength">O campo deve possuir menos de 50 caracteres.</p>
                            <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="form-group" ng-class="{ 'has-error': (clienteForm.escolaridade.$touched || clienteForm.$submitted) && clienteForm.escolaridade.$invalid }">
                            <label for="inputEscolaridade" >Grau de Escolaridade*</label>
                            <select name="escolaridade" id="inputEscolaridade" class="form-control" ng-model="usuario.escolaridade" required>
                                <options>
                                    <option value="" disabled="">Selecione</option>
                                    <option value="Sem escolaridade">Sem escolaridade</option>
                                    <option value="Ensino Fundamental Incompleto">Ensino Fundamental Incompleto</option>
                                    <option value="Ensino Fundamental Completo">Ensino Fundamental Completo</option>
                                    <option value="Ensino Médio Incompleto">Ensino Médio Incompleto</option>
                                    <option value="Ensino Médio Completo">Ensino Médio Completo</option>
                                    <option value="Ensino Superior Incompleto">Ensino Superior Incompleto</option>
                                    <option value="Ensino Superior Completo">Ensino Superior Completo</option>
                                </options>
                            </select>
                        </div>
                        <div class="help-block" ng-messages="clienteForm.escolaridade.$error" ng-if="clienteForm.escolaridade.$touched || clienteForm.$submitted">
                            <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                        </div>
                    </div>
                </div>
                
                
                <h3 class="with-line">Endereço</h3>
                
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group" ng-class="{ 'has-error': (clienteForm.logradouro.$touched || clienteForm.$submitted) && clienteForm.logradouro.$invalid }">
                            <label for="inputAddress2" >Logradouro*</label>
                            <input type="text" class="form-control" id="inputAddress2" name="logradouro" placeholder="Logradouro" ng-model="usuario.address.address2" required ng-maxlength="50"/>
                        </div>
                        <div class="help-block" ng-messages="clienteForm.logradouro.$error" ng-if="clienteForm.logradouro.$touched || clienteForm.$submitted">
                            <p ng-message="maxlength">O campo deve possuir menos de 50 caracteres.</p>
                            <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-2">
                        <div class="form-group" ng-class="{ 'has-error': (clienteForm.numero.$touched || clienteForm.$submitted) && clienteForm.numero.$invalid }">
                            <label for="inputAddress1" >Número*</label>
                            <input type="text" class="form-control" id="inputAddress1" name="numero" placeholder="Número" ng-model="usuario.address.address1"/ required ng-maxlength="10">
                        </div>
                        <div class="help-block" ng-messages="clienteForm.numero.$error" ng-if="clienteForm.numero.$touched || clienteForm.$submitted">
                            <p ng-message="maxlength">O campo deve possuir menos de 10 caracteres.</p>
                            <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group" ng-class="{ 'has-error': (clienteForm.complemento.$touched || clienteForm.$submitted) && clienteForm.complemento.$invalid }">
                            <label for="inputAddress3" >Complemento*</label>
                            <input type="text" class="form-control" id="inputAddress3" name="complemento" placeholder="Complemento" ng-model="usuario.address.address3"/ required ng-maxlength="50">
                        </div>
                        <div class="help-block" ng-messages="clienteForm.complemento.$error" ng-if="clienteForm.complemento.$touched || clienteForm.$submitted">
                            <p ng-message="maxlength">O campo deve possuir menos de 50 caracteres.</p>
                            <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group" ng-class="{ 'has-error': (clienteForm.bairro.$touched || clienteForm.$submitted) && clienteForm.bairro.$invalid }">
                            <label for="inputAddress4" >Bairro*</label>
                            <input type="text" class="form-control" id="inputAddress4" name="bairro" placeholder="Bairro" ng-model="usuario.address.address4"/ required ng-maxlength="50">
                        </div>
                        <div class="help-block" ng-messages="clienteForm.bairro.$error" ng-if="clienteForm.bairro.$touched || clienteForm.$submitted">
                            <p ng-message="maxlength">O campo deve possuir menos de 50 caracteres.</p>
                            <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-2">
                        <div class="form-group" ng-class="{ 'has-error': (clienteForm.cep.$touched || clienteForm.$submitted) && clienteForm.cep.$invalid }">
                            <label for="inputPostalCode" >CEP*</label>
                            <input type="text" class="form-control" id="inputPostalCode" name="cep" placeholder="CEP"  mask="99999-999" ng-model="usuario.address.postalCode"/ required>
                        </div>
                        <div class="help-block" ng-messages="clienteForm.cep.$error" ng-if="clienteForm.cep.$touched || clienteForm.$submitted">
                            <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group" ng-class="{ 'has-error': (clienteForm.cidade.$touched || clienteForm.$submitted) && clienteForm.cidade.$invalid }">
                            <label for="inputCity" >Cidade*</label>
                            <select name="cidade" id="inputCity" class="form-control" ng-model="usuario.address.city" required>
                                <options>
                                    <option value="" disabled>Selecione</option>
                                    <option value="São Paulo" selected>São Paulo</option>
                                </options>
                            </select>
                        </div>
                        <div class="help-block" ng-messages="clienteForm.cidade.$error" ng-if="clienteForm.cidade.$touched || clienteForm.$submitted">
                            <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group" ng-class="{ 'has-error': (clienteForm.estado.$touched || clienteForm.$submitted) && clienteForm.estado.$invalid }">
                            <label for="inputState" >UF*</label>
                            <select name="estado" id="inputState" class="form-control" ng-model="usuario.address.state" required>
                                <options>
                                    <option value="" disabled>Selecione</option>
                                    <option value="SP" selected>SP</option>
                                    
                                </options>
                            </select>
                        </div>
                        <div class="help-block" ng-messages="clienteForm.estado.$error" ng-if="clienteForm.estado.$touched || clienteForm.$submitted">
                            <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group" ng-class="{ 'has-error': (clienteForm.pais.$touched || clienteForm.$submitted) && clienteForm.pais.$invalid }">
                            <label for="inputCountry" >País*</label>
                            <select name="pais" id="inputCountry" class="form-control" ng-model="usuario.address.country" required>
                                <options>
                                    <option value="" disabled>Selecione</option>
                                    <option value="Brasil" selected>Brasil</option>
                                    
                                </options>
                            </select>
                        </div>
                        <div class="help-block" ng-messages="clienteForm.pais.$error" ng-if="clienteForm.pais.$touched || clienteForm.$submitted">
                            <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                        </div>
                    </div>
                </div>
                
                
                
                <h3 class="with-line">Documentos</h3>
                <div class="row">
                    <div class="col-sm-12 col-md-3">
                        <div class="form-group" ng-class="{ 'has-error': (clienteForm.rgRne.$touched || clienteForm.$submitted) && clienteForm.rgRne.$invalid }">
                            <label for="inputRgRne" >RG ou RNE*</label>
                            <input type="text" class="form-control" id="inputRgRne" name="rgRne" placeholder="RG ou RNE" ng-model="usuario.doc.rgRne" required ng-maxlength="11"/>
                        </div>
                        <div class="help-block" ng-messages="clienteForm.rgRne.$error" ng-if="clienteForm.rgRne.$touched || clienteForm.$submitted">
                            <p ng-message="maxlength">O campo deve possuir menos de 11 caracteres.</p>
                            <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="form-group" ng-class="{ 'has-error': (clienteForm.dataExpedicao.$touched || clienteForm.$submitted) && clienteForm.dataExpedicao.$invalid }">
                            <label for="inputDataExp" >Data de Expedição*</label>
                            <input name="dataExpedicao" type="date" class="form-control" id="inputDataExp" name="rgRne" placeholder="Data de Expedição" ng-model="usuario.doc.dataExp" required/>
                        </div>
                        <div class="help-block" ng-messages="clienteForm.dataExpedicao.$error" ng-if="clienteForm.dataExpedicao.$touched || clienteForm.$submitted">
                            <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="form-group" ng-class="{ 'has-error': (clienteForm.orgEmissor.$touched || clienteForm.$submitted) && clienteForm.orgEmissor.$invalid }">
                            <label for="inputOrgEmissor" >Órgão Emissor/UF*</label>
                            <input type="text" class="form-control" id="inputOrgEmissor" placeholder="Ex.: SSP/SP" name="orgEmissor" ng-model="usuario.doc.orgEmissor" required ng-maxlength="20"/>
                        </div>
                        <div class="help-block" ng-messages="clienteForm.orgEmissor.$error" ng-if="clienteForm.orgEmissor.$touched || clienteForm.$submitted">
                            <p ng-message="maxlength">O campo deve possuir menos de 20 caracteres.</p>
                            <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="form-group" ng-class="{ 'has-error': (clienteForm.cpf.$touched || clienteForm.$submitted) && clienteForm.cpf.$invalid }">
                            <label for="inputCpf" >CPF*</label>
                            <input type="text" class="form-control" id="inputCpf" name="cpf" placeholder="CPF" mask="999.999.999-99" ng-model="usuario.doc.cpf" required/>
                        </div>
                        <div class="help-block" ng-messages="clienteForm.cpf.$error" ng-if="clienteForm.cpf.$touched || clienteForm.$submitted">
                            <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-3">
                        <div class="form-group" ng-class="{ 'has-error': (clienteForm.birthDate.$touched || clienteForm.$submitted) && clienteForm.birthDate.$invalid }">
                            <label for="inputBirthDate" >Data de Nascimento*</label>
                            <input type="date" class="form-control" class="form-control" id="inputBirthDate" name="birthDate" placeholder="Data de Nascimento" ng-model="usuario.doc.birth.date" required/>
                        </div>
                        <div class="help-block" ng-messages="clienteForm.birthDate.$error" ng-if="clienteForm.birthDate.$touched || clienteForm.$submitted">
                            <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="form-group" ng-class="{ 'has-error': (clienteForm.naturalidade.$touched || clienteForm.$submitted) && clienteForm.naturalidade.$invalid }">
                            <label for="inputNaturalidade" >Naturalidade</label>
                            <input type="text" class="form-control" id="inputNaturalidade" name="naturalidade" placeholder="Cidade" ng-model="usuario.doc.birth.city" ng-maxlength="50"/>
                        </div>
                        <div class="help-block" ng-messages="clienteForm.naturalidade.$error" ng-if="clienteForm.naturalidade.$touched || clienteForm.$submitted">
                            <p ng-message="maxlength">O campo deve possuir menos de 50 caracteres.</p>
                        </div>
                    </div>
                    
                    <div class="col-sm-12 col-md-2">
                        <div class="form-group" ng-class="{ 'has-error': (clienteForm.natEstado.$touched || clienteForm.$submitted) && clienteForm.natEstado.$invalid }">
                            <label for="inputNatEstado" >UF</label>
                            <input type="text" class="form-control" id="inputNatEstado" name="natEstado" placeholder="Estado" ng-model="usuario.doc.birth.state" ng-maxlength="2" />
                        </div>
                        <div class="help-block" ng-messages="clienteForm.natEstado.$error" ng-if="clienteForm.natEstado.$touched || clienteForm.$submitted">
                            <p ng-message="maxlength">O campo deve possuir menos de 2 caracteres.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group" ng-class="{ 'has-error': (clienteForm.nacionalidade.$touched || clienteForm.$submitted) && clienteForm.natPais.$invalid }">
                            <label for="nacionalidade" >Nacionalidade</label>
                            <input type="text" class="form-control" id="inputNacionalidade" name="nacionalidade" placeholder="País" ng-model="usuario.doc.birth.country" ng-maxlength="50"/>
                        </div>
                        <div class="help-block" ng-messages="clienteForm.nacionalidade.$error" ng-if="clienteForm.nacionalidade.$touched || clienteForm.$submitted">
                            <p ng-message="maxlength">O campo deve possuir menos de 50 caracteres.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group" ng-class="{ 'has-error': (clienteForm.mae.$touched || clienteForm.$submitted) && clienteForm.mae.$invalid }">
                            <label for="inputMae" >Filiação</label>
                            <input type="text" class="form-control"  id="inputMae" name="mae" placeholder="Nome da Mãe" ng-model="usuario.doc.birth.mae" ng-maxlength="100"/>
                        </div>
                        <div class="help-block" ng-messages="clienteForm.mae.$error" ng-if="clienteForm.mae.$touched || clienteForm.$submitted">
                            <p ng-message="maxlength">O campo deve possuir menos de 100 caracteres.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group" ng-class="{ 'has-error': (clienteForm.pai.$touched || clienteForm.$submitted) && clienteForm.pai.$invalid }">
                            <label for="inputPai" >Filiação</label>
                            <input type="text" class="form-control" id="inputPai" name="pai" placeholder="Nome do Pai" ng-model="usuario.doc.birth.pai" ng-maxlength="100"/>
                        </div>
                        <div class="help-block" ng-messages="clienteForm.pai.$error" ng-if="clienteForm.pai.$touched || clienteForm.$submitted">
                            <p ng-message="maxlength">O campo deve possuir menos de 100 caracteres.</p>
                        </div>
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-primary" ng-click="save(clienteForm)">Cadastrar</button>
                        <button class="btn btn-danger" ng-click="enableCadastro()">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>