<main class="auth-main">
    <div class="auth-block">
        <h1 i18n="register.welcome">Sign up to Suplima</h1>
        <a ui-sref="signin" class="auth-link" i18n="register.signin"></a>
        <form class="form-horizontal ng-pristine ng-valid" name="registerForm" novalidate>
            <div class="form-group" ng-class="{ 'has-error': (registerForm.name.$touched || registerForm.$submitted) && registerForm.name.$invalid }">
                <label for="inputName3" class="col-sm-2 control-label" i18n="register.nameLabel" ></label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputName3" name="name" data-i18n-attr="{placeholder: 'register.nameLabel'}" ng-model="user.firstName"
                           required ng-maxlength="100">
                </div>
                <div class="help-block" ng-messages="registerForm.name.$error" ng-if="registerForm.name.$touched || registerForm.$submitted">
                    <p ng-message="maxlength">O nome deve possuir menos de 100 caracteres.</p>
                    <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': (registerForm.lastName.$touched || registerForm.$submitted) && registerForm.lastName.$invalid }">
                <label for="inputSobrenome3" class="col-sm-2 control-label" i18n="register.lastNameLabel"></label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputSobrenome3" name="lastName" data-i18n-attr="{placeholder: 'register.lastNameLabel'}"
                           placeholder="Last Name" ng-model="user.lastName" required ng-maxlength="255">
                </div>
                <div class="help-block" ng-messages="registerForm.lastName.$error" ng-if="registerForm.lastName.$touched || registerForm.$submitted">
                    <p ng-message="maxlength">O nome deve possuir menos de 255 caracteres.</p>
                    <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                </div>

            </div>
            <div class="form-group" ng-class="{ 'has-error': (registerForm.phone.$touched || registerForm.$submitted) && registerForm.phone.$invalid }">
                <label for="inputPhone" class="col-sm-2 control-label" i18n="register.celLabel" ></label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPhone" name="phone" data-i18n-attr="{placeholder: 'register.celLabel'}"
                           mask="(99) 9?9999-9999" ng-model="user.phone" ng-change="maskPhoneChange()" required/>
                </div>
                <div class="help-block" ng-messages="registerForm.phone.$error" ng-if="registerForm.phone.$touched || registerForm.$submitted">
                    <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': (registerForm.email.$touched || registerForm.$submitted) && registerForm.email.$invalid }">
                <label for="inputEmail3" class="col-sm-2 control-label" i18n="register.emailLabel">Email</label>

                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" name="email" data-i18n-attr="{placeholder: 'register.emailLabel'}" ng-model="user.email"
                    required>
                </div>
                <div class="help-block" ng-messages="registerForm.email.$error" ng-if="registerForm.email.$touched || registerForm.$submitted">

                    <p ng-message="email">Email inv&#225;lido.</p>
                    <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': (registerForm.username.$touched || registerForm.$submitted) && registerForm.username.$invalid }">
                <label for="username" class="col-sm-2 control-label" i18n="register.loginLabel">Login</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="username" name="username" data-i18n-attr="{placeholder: 'register.loginLabel'}" placeholder="Login" ng-model="user.username"
                           ng-minlength="8"   ng-maxlength="128" required/>
                </div>
                <div class="help-block" ng-messages="registerForm.username.$error" ng-if="registerForm.username.$touched || registerForm.$submitted">
                    <p ng-message="minlength">*Este campo deve possuir no minimo 8 caracteres</p>
                    <p ng-message="maxlength">O nome deve possuir menos de 128 caracteres.</p>
                    <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': (registerForm.password.$touched || registerForm.$submitted) && registerForm.password.$invalid }" >
                <label for="inputPassword3" class="col-sm-2 control-label" i18n="register.passwordLabel">Password</label>

                <div class="col-sm-10">
                    <input type="password" class="form-control" name="password" id="inputPassword3"
                           data-i18n-attr="{placeholder: 'register.passwordLabel'}" ng-model="user.password"
                           ng-minlength="8"   ng-maxlength="128" required/>
                </div>
                <div class="help-block" ng-messages="registerForm.password.$error" ng-if="registerForm.password.$touched || registerForm.$submitted">
                    <p ng-message="minlength">*Este campo deve possuir no minimo 8 caracteres</p>
                    <p ng-message="maxlength">O nome deve possuir menos de 128 caracteres.</p>
                    <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': (registerForm.confpassword.$touched || registerForm.$submitted) && registerForm.confpassword.$invalid }" >
                <label for="inputPassword3" class="col-sm-2 control-label" i18n=>Confirmar</label>

                <div class="col-sm-10">
                    <input type="password" class="form-control" name="confpassword" id="inputPassword4"
                           placeholder="Confirmar Senha" ng-model="conf.password" ng-pattern="^{{user.password}}$" required/>
                </div>
                <div class="help-block" ng-messages="registerForm.confpassword.$error" ng-if="registerForm.confpassword.$touched || registerForm.$submitted">
                    <p ng-message="pattern">As senhas informadas não são compatíveis!</p>
                    <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': (registerForm.states.$touched || registerForm.$submitted) && registerForm.states.$invalid }">
                <label for="inputPassword3" class="col-sm-2 control-label">Estado</label>
                <div class="col-sm-10">
                    <select name="states" ng-model="selectedState" id="states" class="form-control" ng-change="loadCities()" required
                        ng-options="state as state.name for state in states">
                    <option value=''>Selecione um</option>
                    </select>
                </div>
                <div class="help-block" ng-messages="registerForm.states.$error" ng-if="registerForm.states.$touched || registerForm.$submitted">
                    <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': (registerForm.cities.$touched || registerForm.$submitted) && registerForm.cities.$invalid }">
                <label for="inputPassword3" class="col-sm-2 control-label">Cidade</label>
                <div class="col-sm-10">
                    <select name="cities" ng-model="user.address.city" id="cities" class="form-control" required
                        ng-options="city.name as city.name for city in cities">
                    <option value=''>Selecione uma</option>
                    </select>
                </div>
                <div class="help-block" ng-messages="registerForm.cities.$error" ng-if="registerForm.cities.$touched || registerForm.$submitted">
                    <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': (registerForm.occupation.$touched || registerForm.$submitted) && registerForm.occupation.$invalid }">
                <label for="inputoccupation" class="col-sm-2 control-label" >Cargo</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputoccupation" name="occupation" placeholder="Cargo"
                           placeholder="Last Name" ng-model="user.occupation" required ng-maxlength="255">
                </div>
                <div class="help-block" ng-messages="registerForm.occupation.$error" ng-if="registerForm.occupation.$touched || registerForm.$submitted">
                    <p ng-message="maxlength">O nome deve possuir menos de 255 caracteres.</p>
                    <p ng-message="required">*Este campo &#233; obrigat&#243;rio.</p>
                </div>

            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default btn-auth" i18n="register.signupButton" ng-click="save(registerForm)">Sign up</button>
                </div>
            </div>

        </form>

    </div>
</main>