<div>
<main ng-if="$pageFinishedLoading" ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }">

    <ba-sidebar></ba-sidebar>
    <page-top></page-top>

    <div class="al-main">
        <div class="al-content">
            <content-top></content-top>
            <div ui-view></div>
        </div>
    </div>

    <footer class="al-footer clearfix">
        <div class="al-footer-right">Created with <i class="ion-heart"></i></div>
        <div class="al-footer-main clearfix">
            <div class="al-copy">Suplima 2016</div>
        </div>
    </footer>

    <back-top></back-top>
</main>
<div id="preloader" ng-show="!$pageFinishedLoading">
    <div></div>
</div>
</div>