<div class="row" ng-show="showLista">
    <div class="col-sm-12" ba-panel ba-panel-title="Clientes Cadastrados">
        <div class="row">
            <div class="col-sm-12">
                <div ng-if="showLista" ui-grid="gridClientes"  ui-grid-auto-resize ui-grid-selection style="width: 100%;height: 300px"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-primary" ng-click="enableCadastro()">Cadastrar Nova Avaliação</button>
            </div>
        </div>
    </div>
</div>

<form ng-show="showCadastro" class="form-horizontal ng-pristine ng-valid" name="registerForm" novalidate>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Avaliação:</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="form-group" ng-class="{ 'has-error': (registerForm.name.$touched || registerForm.$submitted) && registerForm.name.$invalid }">
                    <textarea class="form-control" placeholder="Queixa Principal"></textarea> 
                </div>    
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="form-group" ng-class="{ 'has-error': (registerForm.name.$touched || registerForm.$submitted) && registerForm.name.$invalid }">
                    <input type="text" class="form-control" placeholder="Medicamentos dos quais faz uso"/>
                </div>    
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="form-group" ng-class="{ 'has-error': (registerForm.name.$touched || registerForm.$submitted) && registerForm.name.$invalid }">
                    <input type="text" class="form-control" placeholder="Exames recentes"/>
                </div>    
            </div>

            <div class="col-sm-12 col-md-2">
                <div cclass="form-group" ng-class="{ 'has-error': (registerForm.name.$touched || registerForm.$submitted) && registerForm.name.$invalid }">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Peso" aria-describedby="basic-addon2">
                            <span class="input-group-addon" id="basic-addon2">kg</span>
                    </div>
                </div>    
            </div>

            <div class="col-sm-12 col-md-2">
                <div class="form-group" ng-class="{ 'has-error': (registerForm.name.$touched || registerForm.$submitted) && registerForm.name.$invalid }">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Altura" aria-describedby="basic-addon2">
                            <span class="input-group-addon" id="basic-addon2">cm</span>
                    </div>
                </div>    
            </div>

        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Diagnóstico:</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12 col-md-2">
                <div class="form-group" ng-class="{ 'has-error': (registerForm.name.$touched || registerForm.$submitted) && registerForm.name.$invalid }">
                    <input type="text" class="form-control" placeholder="CID-10"/>
                </div>    
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="form-group" ng-class="{ 'has-error': (registerForm.name.$touched || registerForm.$submitted) && registerForm.name.$invalid }">
                    <input type="text" class="form-control" placeholder="Doença"/>
                </div> 
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="form-group" ng-class="{ 'has-error': (registerForm.name.$touched || registerForm.$submitted) && registerForm.name.$invalid }">
                    <input type="text" class="form-control" placeholder="Sintomas"/>
                </div> 
            </div>

            <div class="col-sm-12 col-md-12">
                <div class="form-group" ng-class="{ 'has-error': (registerForm.name.$touched || registerForm.$submitted) && registerForm.name.$invalid }">
                    <textarea class="form-control" placeholder="Histórico da Doença Pregressa"></textarea>
                </div> 
            </div>
        </div>  
    </div>
</div>    

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Antecedentes Pessoais:</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="form-group" ng-class="{ 'has-error': (registerForm.name.$touched || registerForm.$submitted) && registerForm.name.$invalid }">
                    <label>
                        <input type="checkbox"> Possui Hipertensão Arterial?
                    </label> <br> <br>
                    
                    <label>
                        <input type="checkbox"> Possui Diabetes?
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="Diabetes" id="Radios1" value="Tipo 1">
                        Tipo 1
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="Diabetes" id="Radios2" value="Tipo 2">
                        Tipo 2
                    </label> <br><br>
                    
                    <label>
                        <input type="checkbox"> Possui alguma disfunção da Tireóide?
                    </label> <br>
                    <label class="radio-inline">
                        <input type="radio" name="Tireoide" id="Radios1" value="Hipotireoidismo">
                        Hipotireoidismo
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="Tireoide" id="Radios2" value="Hipertiroidismo">
                        Hipertiroidismo
                    </label> <br> <br>

                    <label>
                        <input type="checkbox"> Realizou alguma Cirurgia?
                    </label> 
                    <input type="text" class="form-control" placeholder="Quais?"/> <br>
                </div>    
            </div>

            
            <div class="col-sm-12 col-md-4">
                <div class="form-group" ng-class="{ 'has-error': (registerForm.name.$touched || registerForm.$submitted) && registerForm.name.$invalid }"> 
                    <label>
                        <input type="checkbox"> Tem ou teve Câncer?
                    </label> 
                    <input type="text" class="form-control" placeholder="De que tipo?"/> <br>  
                    
                    <label>
                        <input type="checkbox"> Tabagismo?
                    </label> 
                    <input type="text" class="form-control" placeholder="Quantos maços por dia em média?"/> <br>
                    
                    <label>
                        <input type="checkbox"> Etilismo?
                    </label> 
                    <select name="frequencia" id="" class="form-control">
                        <options>
                            <option value="">Frequência de consumo</option>
                            <option value="Moderadamente">Moderadamente</option>
                            <option value="Socialmente">Socialmente</option>
                            <option value="Consumo intenso">Consumo intenso</option>
                        </options>
                    </select> <br><br>
                </div>    
            </div>


            <div class="col-sm-12 col-md-4">
                <div class="form-group" ng-class="{ 'has-error': (registerForm.name.$touched || registerForm.$submitted) && registerForm.name.$invalid }">
                    <label>
                        <input type="checkbox"> Pratica atividade física?
                    </label> 
                    <input type="text" class="form-control" placeholder="Qual tipo?"/> <br>
                    <input type="text" class="form-control" placeholder="Qual a frequência?"/> <br><br> 

                    <label>
                        <input type="checkbox"> Possui algum tipo de alergia?
                    </label> 
                    <input type="text" class="form-control" placeholder="Qual tipo?"/> <br>        
                </div>    
            </div>

            <div class="col-sm-12 col-md-12">
                <div class="form-group" ng-class="{ 'has-error': (registerForm.name.$touched || registerForm.$submitted) && registerForm.name.$invalid }">
                    <textarea class="form-control" placeholder="Outras observações"></textarea> 
                </div>    
            </div>
        </div>


    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Antecedentes Familiares:</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="form-group" ng-class="{ 'has-error': (registerForm.name.$touched || registerForm.$submitted) && registerForm.name.$invalid }">
                    <label>
                        <input type="checkbox"> Possui Hipertensão Arterial?
                    </label> <br> <br>
                    
                    <label>
                        <input type="checkbox"> Possui Diabetes?
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="Diabetes" id="Radios1" value="Tipo 1">
                        Tipo 1
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="Diabetes" id="Radios2" value="Tipo 2">
                        Tipo 2
                    </label> <br><br>
                    <label>
                        <input type="checkbox"> Tem ou teve Câncer?
                    </label> 
                    <input type="text" class="form-control" placeholder="De que tipo?"/> <br>
                </div> 
            </div> 

            <div class="col-sm-12 col-md-12">
                <div class="form-group" ng-class="{ 'has-error': (registerForm.name.$touched || registerForm.$submitted) && registerForm.name.$invalid }">
                    <textarea class="form-control" placeholder="Outras observações"></textarea>
                </div> 
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-primary" ng-click="enableCadastro()">Cadastrar</button>
                    <button class="btn btn-danger" ng-click="enableCadastro()">Cancelar</button>
                </div>
            </div>
        
        </div>


    </div>
</div>    


</form>